.todo-form {
  padding-top: 50px;
}

.todo-input {
  width: 635px;
  border: none;
  border-bottom: 1px solid #01A4B5;
  border-radius: 0;
  outline: none;
  height: 3.3rem;
  background: transparent;
  color: #01A4B5;
  padding-left: 30px;
  font-size: 22px;
  margin-left: 6px;
}

input[type="add"]::-webkit-input-placeholder {
  color: rgba(1, 164, 181, 0.6);
} 
input[type="add"]::-moz-placeholder {
  color: rgba(1, 164, 181, 0.6);
}

.fa-comment-dots {
  margin-right: -25px;
  color: #01A4B5;
  font-size: 20px;
}

.add-btn {
  display: inline-block;
  padding: 10px 10px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #01A4B5;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  /* background: rgba(161, 240, 69, 1); */
  /* background: rgba(255, 255, 255, 0.2); */
  /* background: #1de9b6; */
  background: linear-gradient(
    166deg,
    rgba(253, 160, 133, 1),
    rgba(246, 211, 101, 1)
  );
  /* background: rgba(253, 160, 133, 1); */
  cursor: pointer;
  height: 53px;
}

.add-btn:focus {
  outline: none;
}

.add-btn:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.add-btn:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.add-btn i {
  margin-right: 5px;
}