.auth {
  color: #9a9a9a;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  /* background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%); */
  /* background-color: #ffa69e; */
  background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  /*like down*/
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  background-image: linear-gradient(315deg, #033A70 0%, #56C3C0 74%);
}

.auth > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.auth h1 {
  color: #fff;
  text-align: center;
}

.authForm {
  /* background: rgba(192,167,110, 0.47); */
  background-image: linear-gradient(315deg, #1b2845 0%, #131D45 74%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 30px 60px 50px 60px;
  border-radius: 5px;
  height: 400px;
}

.authForm__header{
  margin: 30px 0;
}

.authForm__body {
  margin: 40px 0;
}

.authForm__footer {
  margin: 60px 0;
}

.auth input {
  width: 100%;
  max-width: 550px;
  height: 20px;
  /* border-radius: 5px; */
  margin: 10px 0 5px 0;
}