.auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.auth > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.auth h1 {
  color: #fff;
  text-align: center;
}

.authForm {
  background: #eee;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
}

.auth input {
  width: 100%;
  max-width: 550px;
  height: 20px;
  /* border-radius: 5px; */
  margin: 10px 0 5px 0;
}

.auth button {
  background: rgba(32, 248, 12, 0.7);
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgb(32, 248, 12);
  box-shadow: 1px 1px 3px 1px rgb(211, 243, 209);
}

.auth button:hover {
  background: rgba(32, 248, 12, 0.5);
}